{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    <h1>Edit Location</h1>

    {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('location_index') }}">back to list</a>

    {{ include('location/_delete_form.html.twig') }}
    <br>
        <a href="{{ path('app_logout') }}"> 
            <button>Logout</button> 
        </a>
    </br>
{% endblock %}
