{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <h1>Location index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.name }}</td>
                <td>{{ location.country }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                <td>
                    <a href="{{ path('location_show', {'id': location.id}) }}">show</a>
                {% if is_granted('ROLE_LOCATION_EDIT') %}
                    <a href="{{ path('location_edit', {'id': location.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_LOCATION_NEW') %}
        <a href="{{ path('location_new') }}">Create new</a>
    {% endif %}
    <br>
        <a href="{{ path('app_logout') }}"> 
            <button>Logout</button> 
        </a>
    </br>
{% endblock %}
