{% extends 'base.html.twig' %}

{% block title %}Measurement{% endblock %}

{% block body %}
    <h1>Measurement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ measurement.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Celsius</th>
                <td>{{ measurement.celsius }}</td>
            </tr>
            <tr>
                <th>UvIndex</th>
                <td>{{ measurement.UvIndex }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ measurement.humidity }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('measurement_index') }}">back to list</a>

    {% if is_granted('ROLE_MEASUREMENT_EDIT') %}
        <a href="{{ path('measurement_edit', {'id': measurement.id}) }}">edit</a>
    {% endif %}

    {% if is_granted('ROLE_MEASUREMENT_DELETE') %}
    {{ include('measurement/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
