{% extends 'base.html.twig' %}

{% block title %}Measurement index{% endblock %}

{% block body %}
    <h1>Measurement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Celsius</th>
                <th>UvIndex</th>
                <th>Humidity</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
                <td>{{ measurement.celsius }}</td>
                <td>{{ measurement.UvIndex }}</td>
                <td>{{ measurement.humidity }}</td>
                <td>{{ measurement.location.name }}</td>
                <td>
                    <a href="{{ path('measurement_show', {'id': measurement.id}) }}">show</a>
                {% if is_granted('ROLE_MEASUREMENT_EDIT') %}
                    <a href="{{ path('measurement_edit', {'id': measurement.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_MEASUREMENT_NEW') %}
        <a href="{{ path('measurement_new') }}">Create new</a>
    {% endif %}
    <br>
        <a href="{{ path('app_logout') }}"> 
            <button>Logout</button> 
        </a>
    </br>
{% endblock %}
