{% extends 'base.html.twig' %}

{% block title %}New Measurement{% endblock %}

{% block body %}
    <h1>Create new Measurement</h1>

    {{ include('measurement/_form.html.twig') }}

    <a href="{{ path('measurement_index') }}">back to list</a>
    <br>
        <a href="{{ path('app_logout') }}"> 
            <button>Logout</button> 
        </a>
    </br>
{% endblock %}
